
html,body {width:100%;height:100%;margin:0;padding:0;}

#mapcanvas {
	display: block;
    position:absolute;
    height:auto;
    bottom:0;
    top:0;
    left:0;
    right:0;
    margin-top:50px;
}

.logo {
	max-height : 50px;
}

.filter {
    position: absolute;
    width: 270px;
    height: auto;
    background: #fff;
    color: #000;
}

.filter-btn {
    position: absolute;
    top: 70px;
    width: auto;
    height: auto;
    display: inline-block;
}

.filter-menu {
   color: #fff;
}

.panel-heading {
    cursor: pointer;
}

.panel-default > .panel-heading {
    background: #d43c07;
}